{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
<!-- Blank header needed to apply top padding where there is a fixed header on desktop screens -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Hero image and cover text -->
<section>
    <div class="container-fluid" id="hero-container">
        <div class="row h-100 gx-lg-0">
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center" id="cover-text-outer">
                <div class="text-center rounded-lg-2" id="cover-text-inner">
                    <h1 class="display-4">
                        Sustainable Vegan Cactus Leather Bags
                    </h1>
                    <h2>
                        Affordable vegan designer bags
                    </h2>
                    <a href="{% url 'bags' %}" class="btn btn-lg rounded-1 text-uppercase py-3 mt-4 page-nav-button">
                        Shop the Collection
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Information blocks -->
<section>
    <div class="container-fluid">
        <!-- Ethical Philosophy row -->
        <div class="row gx-0 pt-4 pt-md-5 pt-lg-0 mt-lg-5 pt-xl-3">
            <div class="col-12 col-lg-4 d-flex align-items-center pb-3 pb-lg-0 order-lg-2">
                <div class="circle-container green-background right-photo-desktop">
                    <div class="circle-container-image green-border" id="ethical-philosophy-image"></div>
                </div>
            </div>
            <div class="col-12 col-lg-8 d-flex align-items-center justify-content-center order-lg-1">
                <div class="home-page-information-container left-text-desktop">
                    <h3 class="pb-lg-2">Cactus Leather - Our Ethical Philosophy</h3>
                    <p class="home-page-information mb-0">
                        At Saguaro Bags we care about saving the planet. The <strong>cactus leather</strong> used to make our 
                        <strong>vegan leather bags</strong> is an organic and partially biodegradable material that is helping
                        to reduce the plastic pollution crisis. It's a viable alternative to both animal-derived leather and
                        traditional vegan leathers. Animal leathers emit toxic chemicals and have obvious animal cruelty implications.
                        Traditional vegan leathers are made from highly toxic PVC or polyurethane. We are excited to be
                        part of the sustainable movement taking fashion into the future. If you are interested in leading a more sustainable
                        life, check out the Guardian's article
                        <a href="https://www.theguardian.com/environment/2020/feb/29/50-ways-to-green-up-your-life-save-the-planet"
                            target="_blank" aria-label="Visit the Guardian's article on 50 simple ways to make your life greener (opens in a new tab)"
                            class="link">
                            50 Simple Ways to Make Your Life Greener.
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!-- Affordable Style row -->
        <div class="row gx-0 pt-4 pt-md-5 pt-lg-0 mt-lg-5 pt-xl-3">
            <div class="col-12 col-lg-4 d-flex align-items-center pb-3 pb-lg-0">
                <div class="circle-container pink-background" id="left-photo-desktop">
                    <div class="circle-container-image pink-border" id="affordable-style-image"></div>
                </div>
            </div>
            <div class="col-12 col-lg-8 d-flex align-items-center justify-content-center">
                <div class="home-page-information-container" id="right-text-desktop">
                    <h3 class="pb-lg-2">Affordable Vegan Bags - Ethical Style</h3>
                    <p class="home-page-information mb-0">
                        Plastic-based vegan leather alternatives can be very affordable but look cheap whilst more
                        sustainable options like apple leather, wood leather and cactus leather can be more expensive
                        than animal leather. Here at Saguaro Bags we believe that choosing <strong>sustainable leather bags</strong>
                        should be a more affordable option than animal based leather and that you should not have to
                        compromise on style or fashion to follow your ethics. Our <strong>affordable vegan handbags</strong>
                        are priced to be competitive, are designed to be classic yet stylish and will last up to 10 years,
                        giving you investment pieces you can enjoy for years to come.
                    </p>
                </div>
            </div>
        </div>
        <!-- How Cactus Leather is Made row-->
        <div class="row gx-0 py-4 py-md-5 py-lg-0 my-lg-5 py-xl-3">
            <div class="col-12 col-lg-4 d-flex align-items-center pb-3 pb-lg-0 order-lg-2">
                <div class="circle-container green-background right-photo-desktop">
                    <div class="circle-container-image green-border" id="cactus-leather-made-image"></div>
                </div>
            </div>
            <div class="col-12 col-lg-8 d-flex align-items-center justify-content-center order-lg-1">
                <div class="home-page-information-container left-text-desktop">
                    <h3 class="pb-lg-2">The Technology - How Cactus Leather is Made</h3>
                    <p class="home-page-information mb-0">
                        <strong>Desserto cactus leather</strong> are leading the way in the manufacture of cactus leather.
                        Cactus is the most abundant plant in Mexico and doesn't need a lot of water to grow, unlike the
                        cows raised for animal leather. <strong>Desserto leather</strong> is made from the leaves of the
                        nopal cactus and they don't even kill their cacti to make cactus leather! They just remove the mature
                        leaves, leaving the smaller ones to grow, making it even more ethical! The leaves are cut, cleaned, mashed,
                        dried for 3 days, mixed with non-toxic chemicals and made into any texture or colour you want!
                        To find out more check out
                        <a href="https://desserto.com.mx/home" target="_blank" aria-label="Visit Desserto leather's page (opens in a new tab)" class="link">
                            Desserto Leather's website.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}