<script>
    /* 
    * Disable +/- buttons outside 1-99 range.
    * If no charm is passed to the function, the parameter will have a value of
    * undefined by default, which will prevent any errors.
    */
    function handleEnableDisable(itemId, charm) {
        let currentValue;
        if (charm) {
            currentValue = parseInt($(`.charm_${itemId}_${charm}`).val());
        } else {
            currentValue = parseInt($(`.id_qty_${itemId}`).val()); 
        }

        let minusDisabledAddBag = currentValue < 2;        
        let minusDisabledAdjustBag = currentValue < 1;
        let plusDisabled = currentValue > 98;

        if (charm) {
            $(`.decrement-charm_${itemId}_${charm}`).prop('disabled', minusDisabledAdjustBag);
            $(`.increment-charm_${itemId}_${charm}`).prop('disabled', plusDisabled);
        } else {
            $(`.decrement-qty_${itemId}`).prop('disabled', minusDisabledAddBag);
            $(`.decrement-qty_${itemId}_basket_pg`).prop('disabled', minusDisabledAdjustBag);
            $(`.increment-qty_${itemId}`).prop('disabled', plusDisabled); 
        }
    }

    // Ensure proper enabling/disabling of all inputs on page load
    let allQtyInputs = $('.qty_input');
    for(let i = 0; i < allQtyInputs.length; i++){
        let itemId = $(allQtyInputs[i]).data('item_id');
        let charm = $(allQtyInputs[i]).data('charm');
        handleEnableDisable(itemId, charm);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        let itemId = $(this).data('item_id');
        let charm = $(this).data('charm');
        handleEnableDisable(itemId, charm);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       let itemId = $(this).data('item_id');
       let charm = $(this).data('charm');
       let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       let allQuantityInputs;
       if (charm) {
            allQuantityInputs = $(`.input-group-${itemId} input[data-charm='${charm}']`);
       } else {
            allQuantityInputs = $(`.input-group-${itemId} input[name='quantity']`);
       }
       let currentValue = parseInt($(closestInput).val());
       $(allQuantityInputs).val(currentValue + 1);
       handleEnableDisable(itemId, charm);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       let itemId = $(this).data('item_id');
       let charm = $(this).data('charm');
       let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       let allQuantityInputs;
       if (charm) {
            allQuantityInputs = $(`.input-group-${itemId} input[data-charm='${charm}']`);
       } else {
            allQuantityInputs = $(`.input-group-${itemId} input[name='quantity']`);
       }
       let currentValue = parseInt($(closestInput).val());
       $(allQuantityInputs).val(currentValue - 1);
       handleEnableDisable(itemId, charm);
    });
</script>