{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<!-- Blank header needed to apply top padding where there is a fixed header on desktop screens -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col text-center mt-3">
            <!-- Page heading -->
            <h1>My Profile</h1>
            <hr class="w-50 mx-auto mb-3 mb-md-4 mb-xl-5">
        </div>
    </div>

    <div class="row">
        <!-- Default delivery information form -->
        <div class="col col-lg-6 mx-2 mx-lg-0">
            <p>Default Delivery Information:</p>
            <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <!-- Update Information button -->
                <button type="submit" class="btn btn-lg rounded-1 text-uppercase submit-button mt-2 bold float-end">
                    Update Information
                </button>               
            </form>
        </div>
        <!-- Order History -->
        <div class="col-12 col-lg-6 mb-4">
            <p class="text-pink mx-2">Order History</p>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}