{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<!-- Blank header needed to apply top padding where there is a fixed header on desktop screens -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col text-center mt-3">
            <!-- Page heading -->
            <h1>Checkout</h1>
            <hr class="w-50 mx-auto mb-3 mb-md-4 mb-xl-5">
        </div>
    </div>

    <div class="row">
        <!-- Order Summary -->
        <div class="col-lg-6 order-lg-last mb-4">
            <p class="text-pink mx-2">Order Summary ({{ bag_count }})</p>
            <div class="row mb-2 mx-2">
                <div class="col-10 ps-0">
                    <small>Item</small>
                </div>
                <div class="col-2 text-end ps-0">
                    <small>Subtotal</small>
                </div>
            </div>
            <!-- Details for each bag in the basket -->
            {% for item in basket_items %}
            <div class="row mx-2">
                <div class="col-4 mb-3 ps-0">
                    <!-- Bag image (or the default no image icon if the bag has no image)-->
                    <a href="{% url 'bag_detail' item.bag.id %}">
                        {% if item.bag.image %}
                            <img class="w-100" src="{{ item.bag.image.url }}" alt="{{ item.bag.name }} - {{ item.bag.image_description }}">
                        {% else %}
                            <img class="w-100" src="{{ MEDIA_URL }}no-image.png" alt="{{ item.bag.name }} - {{ item.bag.image_description }}">
                        {% endif %}
                    </a>
                </div>
                <div class="col-6 mb-3 ps-0">
                    <!-- Bag name -->
                    <p class="my-0 bold text-pink">{{ item.bag.name }}</p>
                    <!-- Bag charm selection (if applicable) -->
                    {% if item.bag.has_charm_option %}
                    {% if item.charm_object %}
                    <small>Charm Option: {{ item.charm_object.name }}</small>
                    {% else %}
                    <small>Charm Option: No charm selected</small>
                    {% endif %}
                    {% endif %}
                    <!-- Bag quantity -->
                    <small class="d-block">Qty: {{ item.quantity }}</small>
                </div>
                <!-- Bag price -->
                <div class="col-2 text-end ps-0">
                    {% if item.bag.on_sale and item.bag.discount != None %}
                    <p class="my-0">
                        £{{ item.bag.get_discounted_price | calc_subtotal:item.quantity }}
                    </p>
                    {% else %}
                    <p class="my-0">£{{ item.bag.original_price | calc_subtotal:item.quantity }}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <hr class="mt-2 mb-3">
            <!-- Order total, delivery cost and grand total -->
            <div class="row text-end mx-2">
                <div class="col-10 ps-0">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">Delivery:</p>
                    <p class="my-0 text-pink bold">Grand Total:</p>
                </div>
                <div class="col-2 ps-0 text-end">
                    <p class="my-0">£{{ total | floatformat:2 }}</p>
                    <p class="my-0">£{{ delivery | floatformat:2 }}</p>
                    <p class="my-0 text-pink bold">£{{ grand_total | floatformat:2 }}</p>
                </div>
            </div>
        </div>
        <!-- Checkout form -->
        <div class="col col-lg-6 order-lg-first mx-2 mx-lg-0">
            <p>Please fill out the form below to complete your order:</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <!-- Name and email -->
                <!-- 
                    Code for adding a border to a fieldset in Bootstrap 5 adapted from an answer given by amirsoltaani
                    in relation to Bootstrap issue 'Fieldset legend does not work in bootstrap 5.0 beta-1 #32548' 
                    on GitHub - https://github.com/twbs/bootstrap/issues/32548
                -->
                <fieldset class="rounded border border-success p-3 mb-4">
                    <legend class="small text-purple px-2 w-auto float-none mb-0">Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <!-- Delivery details -->
                <fieldset class="rounded border border-success p-3 mb-4 text-center">
                    <legend class="small text-purple px-2 w-auto float-none mb-0 text-start">Delivery</legend>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    <!-- Option to save delivery information to profile if the user has an account -->
                    <div class="form-check form-check-inline ps-0 me-0 float-start float-xxl-none">
                        {% if user.is_authenticated %}
                            <input class="form-check-input ms-0 me-2" type="checkbox" id="id-save-info" name="save-info" checked>
                            <label class="form-check-label small" for="id-save-info">Save this delivery information to my profile</label>
                        {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a href="{% url 'account_signup' %}" aria-label="Go to the account signup page (does not open in a new tab)">Create an account</a> or 
                                <a href="{% url 'account_login' %}" aria-label="Go to the account login page (does not open in a new tab)">login</a> to save this information
                            </label>
                        {% endif %}
                    </div>
                </fieldset>
                <!-- Payment -->
                <fieldset class="rounded border border-success p-3 mb-4">
                    <legend class="small text-purple px-2 w-auto float-none mb-0">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger text-center" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>

                <div class="text-center mb-2 text-xl-end">        
                    <!-- Adjust Basket button -->
                    <a href="{% url 'view_basket' %}" class="btn btn-lg rounded-1 text-uppercase page-nav-button mt-2">
                        <span class="icon">
                            <i class="fa-solid fa-chevron-left"></i>
                        </span>
                        <span class="bold">Adjust Basket</span>
                    </a>         
                    <!-- Complete Order button -->
                    <button type="submit" id="submit-button" class="btn btn-lg rounded-1 text-uppercase submit-button mt-2">
                        <span class="bold">Complete Order</span>
                        <span class="icon">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                    </button>
                    <!-- Warning statement of how much the user's card will be charged -->
                    <p class="small text-danger my-2">
                        <span class="icon">
                            <i class="fa-solid fa-circle-exclamation"></i>
                        </span>
                        <span>Your card will be charged <span class="bold">£{{ grand_total|floatformat:2 }}</span></span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h2 class="text-white d-flex justify-content-center align-items-center h-100 m-0">
        <span class="icon">
            <i class="fa-3x fa-solid fa-spinner fa-spin-pulse"></i>
        </span>
    </h2>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
    <script type="text/javascript">
        /* 
        Runs the changeTextColour function on page load
        and every time the country field in the checkout form
        is changed.
        */
        let countryField = $('#id_country');
        changeTextColour();
        countryField.change(changeTextColour);

        /** 
         * Checks the value of the country field in the checkout
         * form. If it is blank (ie 'Country *' placeholder text is
         * showing), set the text colour to green, otherwise set the 
         * text colour to purple.
        */
        function changeTextColour() {
            let countryFieldText = $('#id_country').val();
            if (countryFieldText === '') {
                if (countryField.hasClass('text-purple')) {
                    countryField.removeClass('text-purple');
                }
                countryField.addClass('text-green');
            } else {
                if (countryField.hasClass('text-green')) {
                    countryField.removeClass('text-green');
                }
                countryField.addClass('text-purple');
            }
        }
    </script>
{% endblock %}
