{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Blank header needed to apply top padding where there is a fixed header on desktop screens -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col text-center mt-3">
            <!-- Page heading -->
            <h1>Shopping Basket</h1>
            <hr class="w-50 mx-auto mb-3 mb-md-4 mb-xl-5">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if basket_items %}
            <div class="table-responsive rounded d-none d-md-block">
                <table class="table table-sm table-borderless text-green">
                    <thead>
                        <tr class="text-purple">
                            <th scope="col" class="ps-4">Bag Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in basket_items %}
                    <tr>
                        <td class="p-3 w-25">
                            {% include "basket/bag-image.html" %}
                        </td>
                        <td class="py-3">
                            {% include "basket/bag-info.html" %}
                        </td>
                        <td class="py-3">
                            {% include "basket/bag-price.html" %}
                        </td>
                        <td class="py-3 w-25">
                            <p class="my-0">
                                {{ item.quantity }}
                            </p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.product.price }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-end">
                            {% include "basket/basket-total.html" %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-end">
                            {% include "basket/checkout-buttons.html" %}
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your basket is empty.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}