{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block page_header %}
<!-- Blank header needed to apply top padding where there is a fixed header on desktop screens -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col text-center mt-3">
            <!-- Page heading -->
            <h1>Shopping Basket</h1>
            <hr class="w-50 mx-auto mb-3 mb-md-4 mb-xl-5">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if basket_items %}
            <!-- Shopping basket items on mobile screens -->
            <div id="shopping-basket-mobile" class="d-block d-md-none">
                <!-- Basket total, delivery and grand total -->
                <div class="row pt-2">
                    <div class="col d-flex justify-content-center">
                        <div class="text-center">
                           {% include "basket/basket_total.html" %} 
                        </div>
                        
                    </div>
                </div>
                <!-- Keep Shopping and Secure Checkout buttons -->
                <div class="row">
                    <div class="col text-center">
                        {% include "basket/checkout_buttons_mobile.html" %}
                        <p class="my-4">A summary of your basket contents is below</p>
                    </div>
                </div>
                {% for item in basket_items %}
                <div class="row">
                    <!-- Item image -->
                    <div class="mb-2 text-center">
                        <div class="bag-list-basket">
                          {% include "basket/bag_image.html" %}  
                        </div>
                    </div>
                    <!-- Item name, SKU and (if applicable) charm option -->
                    <div class="mb-2 text-center">
                        {% include "basket/bag_info.html" %}
                    </div>
                    <!-- Item price and subtotal -->
                    <div class="text-center">
                        {% include "basket/bag_price_mobile.html" %}
                        {% include "basket/bag_subtotal_mobile.html" %}
                    </div>
                    <!-- Item quantity -->
                    <div class="item-quantity mx-auto">
                        <div>
                            {% include "basket/quantity_form.html" %}  
                        </div>
                    </div>
                </div>
                <div class="row"><div class="col"><hr></div></div>
                {% endfor %}
                <!-- Back to top button -->
                <div class="btt-button shadow sm rounded-2">
                    <a class="btt-link d-flex h-100 text-decoration-none">
                        <i class="fa-solid fa-angle-up mx-auto my-auto"></i>
                    </a>
                </div>
            </div>
            <!-- Table of shopping basket items for larger screens -->
            <div class="table-responsive rounded d-none d-md-block">
                <table id="shopping-basket-desktop" class="table table-sm table-borderless text-green">
                    <!-- Table headings -->
                    <thead>
                        <tr class="text-purple">
                            <th scope="col" class="ps-4">Bag Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col" class="ps-4">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in basket_items %}
                    <tr>
                        <!-- Item image -->
                        <td class="p-3 w-25">
                            {% include "basket/bag_image.html" %}
                        </td>
                        <!-- Item name, SKU and (if applicable) charm option -->
                        <td class="py-3">
                            {% include "basket/bag_info.html" %}
                        </td>
                        <!-- Item price -->
                        <td class="py-3">
                            {% include "basket/bag_price_desktop.html" %}
                        </td>
                        <!-- Item quantity -->
                        <td class="py-3 item-quantity">
                            {% include "basket/quantity_form.html" %}
                        </td>
                        <!-- Item subtotal -->
                        <td class="py-3 ps-4">
                            {% include "basket/bag_subtotal_desktop.html" %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <!-- Basket total, delivery and grand total -->
                        <td colspan="5" class="pt-5 text-end">
                            {% include "basket/basket_total.html" %}
                        </td>
                    </tr>
                    <tr>
                        <!-- Keep Shopping and Secure Checkout buttons -->
                        <td colspan="5" class="text-end">
                            {% include "basket/checkout_buttons_desktop.html" %}
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <!-- Empty shopping basket -->
            <p class="lead my-3 text-center">Your basket is empty.</p>
            <form action="{% url 'bags' %}" class="text-center">
                <button type="submit" class="btn btn-lg rounded-1 text-uppercase py-2 mt-4 page-nav-button">
                    <span class="icon">
                        <i class="fa-solid fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function() {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function() {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let charm = $(this).data('charm_option');
        let url = `/basket/remove/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken, 'charm_option': charm};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}