{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block page_header %}
<!-- Blank header needed to apply top padding where there is a fixed header on desktop screens -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col text-center mt-3">
            <!-- Page heading -->
            <h1>Shopping Basket</h1>
            <hr class="w-50 mx-auto mb-3 mb-md-4 mb-xl-5">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if basket_items %}
            <!-- Table of shopping basket items -->
            <div class="table-responsive rounded d-none d-md-block">
                <table id="shopping-basket-desktop" class="table table-sm table-borderless text-green">
                    <thead>
                        <tr class="text-purple">
                            <th scope="col" class="ps-4">Bag Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col" class="ps-4">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in basket_items %}
                    <tr>
                        <!-- Item image -->
                        <td class="p-3 w-25">
                            {% include "basket/bag_image.html" %}
                        </td>
                        <!-- Item name and SKU -->
                        <td class="py-3">
                            {% include "basket/bag_info.html" %}
                        </td>
                        <!-- Item price -->
                        <td class="py-3">
                            {% include "basket/bag_price_desktop.html" %}
                        </td>
                        <!-- Item quantity -->
                        <td class="py-3 item-quantity">
                            {% include "basket/quantity_form.html" %}
                        </td>
                        <!-- Item subtotal -->
                        <td class="py-3 ps-4">
                            {% include "basket/bag_subtotal_desktop.html" %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <!-- Basket total, delivery and grand total -->
                        <td colspan="5" class="pt-5 text-end">
                            {% include "basket/basket_total.html" %}
                        </td>
                    </tr>
                    <tr>
                        <!-- Keep Shopping and Secure Checkout buttons -->
                        <td colspan="5" class="text-end">
                            {% include "basket/checkout_buttons_desktop.html" %}
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead my-3 text-center">Your basket is empty.</p>
            <form action="{% url 'bags' %}" class="text-center">
                <button type="submit" class="btn btn-lg rounded-1 text-uppercase py-2 mt-4 page-nav-button">
                    <span class="icon">
                        <i class="fa-solid fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    /* 
    If the quantity entered is an empty string, a number below 0
    or a number above 99 an alert is raised. 
    Otherwise updates the quantity on clicking 'update'.
    */
    $('.update-link').click(function(e) {
        e.preventDefault();
        let itemId = $(this).attr('id').split('update_')[1];
        let charm = $(this).data('charm_option');
        let currentValue;
        if (charm === '') {
            let quantity = $(`.id_qty_${itemId}`).val();
            if (quantity === '') {
                currentValue = quantity
            } else {
                currentValue = parseInt(quantity);
            }
        } else {
            let quantity = $(`.charm_${itemId}_${charm}`).val();
            if (quantity === '') {
                currentValue = quantity
            } else {
                currentValue = parseInt(quantity);
            }
        }
        if (currentValue < 0 || currentValue > 99 || currentValue === '') {
            alert('Please choose an update quantity between 0 and 99'); 
        } else {
            let form = $(this).prev('.update-form');
            form.submit();
        }
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let charm = $(this).data('charm_option');
        let url = `/basket/remove/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken, 'charm_option': charm};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}