<form action="{% url 'bags' %}" class="d-inline">
    <button type="submit" class="btn btn-lg rounded-1 text-uppercase py-2 mt-4 page-nav-button">
        <span class="icon">
            <i class="fa-solid fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </button>
</form>
<form action="{% url 'checkout' %}" class="d-inline">
    <button type="submit" class="btn btn-lg rounded-1 text-uppercase py-2 mt-4 page-nav-button">
        <span class="text-uppercase">Secure Checkout</span>
        <span class="icon">
            <i class="fa-solid fa-lock"></i>
        </span>
    </button>
</form>
