body {
    background-color: #FFF;
    color: #00855D;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.max-page-width {
    margin-right: auto;
    margin-left: auto;
    max-width: 2500px;
}

/* --------------------------------------------------- Main Site Navigation */

.navbar-light .navbar-toggler {
    border-color: #00855D;
    color: #6DBAA1;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 133, 93, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    padding: .6rem .6rem;
    font-size: 1rem;
}

#main-nav .nav-link {
    color: #00855D;
    font-weight: 500;
    text-transform: uppercase;
}

.dropdown-item {
    color: #00855D;
}

/* 
code for making the pink shopping bag icon within a first tier navigation dropdown item
and a purple tag icon within a second tier navigation dropdown item visible only when 
hovering over or focussing on that item adapted from an answer given by Curtis on this 
Stack Overflow post - 
https://stackoverflow.com/questions/9617641/css-link-to-an-icon-visible-on-hover
*/
.dropdown-item span,
#main-nav .nav-link span {
    visibility: hidden;
}

#main-nav .nav-link span {
    color: #E4117A;
}

#main-nav .dropdown-item,
#main-nav .dropdown-item span {
    color: #6C6EC4;
}

.dropdown-item:focus span, 
.dropdown-item:hover span,
#main-nav .nav-link:hover span,
#main-nav .nav-link:focus span {
    visibility: visible;
}

#main-nav .nav-link:focus,
#main-nav .nav-link:hover {
    background-color: #FFF;
    color: #E4117A;
}

/* --------------------------------------------------- Top Header */

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

/* Cactus logo and store title logo */

.cactus-logo-link {
    height: 30px;
    width: 30px;
}

.title-logo-link {
    color: #E4117A;
    font-family: 'Montez', cursive;
    font-size: 2.5em;
    font-weight: 400;
}

/* Search form */

.form-control {
    border: 2px solid #00855D;
}

.form-appended-button {
    background-color: #00855D;
}

.form-appended-button i {
    color: #FFF;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.fa-magnifying-glass {
    color: #00855D;
}

.form-control {
    color: #E4117A;
}

.form-control:focus {
    color: #6C6EC4;
}

.form-control::placeholder {
    color: #00855D;
}

.nav-link-container {
    color: #00855D;
}

.nav-link {
    padding: 0.15rem;
}

.nav-link i.fa-lg {
    font-size: 1rem;
}

/* Account dropdown menu */

.dropdown-item span {
    color: #E4117A;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #FFF;
    color: #E4117A;
}

/* Shopping basket link */

.basket-link-no-items {
    color: #00855D;
}

.basket-link-items {
    color: #E4117A;
    font-weight: 500;
}

.basket-link:hover,
.basket-link:focus {
    color: #6C6EC4;
}

/* --------------------------------------------------- Banners */

.banner {
    background-color: #E4117A;
    color: #FFF;
}

.banner h4,
.banner p {
    font-size: .9rem;
    text-transform: uppercase;
}

/* --------------------------------------------------- Borders */

.border-green {
    border: 1px solid #00855D;
}

.border-pink {
    border: 1px solid #E4117A;
}

/* --------------------------------------------------- Forms */

.form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2300855d' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    color: #00855D;
}

/* --------------------------------------------------- Buttons */

.page-nav-button {
    background-color: #E4117A;
    border: 2px solid transparent;
    color: #FFF;
    font-weight: 500;
}

.page-nav-button:hover, 
.page-nav-button:focus {
    background-color: #FFF;
    border: 2px solid #E4117A;
    color: #E4117A;
}

.submit-button {
    background-color: #00855D;
    border: 2px solid transparent;
    color: #FFF;
    font-weight: 500;
    padding-top: .6rem;
    padding-bottom: .61rem;
}

.submit-button:hover,
.submit-button:focus {
    background-color: #FFF;
    border: 2px solid #00855D;
    color: #00855D;
}

/* --------------------------------------------------- Back to Top Link */

.btt-button {
    border: 2px solid #E4117A;
    bottom: 10px;
    height: 42px;
    position: fixed;
    right: 10px;
    width: 42px;
}

.btt-button a {
    color: #E4117A;  
}

.btt-link {
    cursor: pointer;
}

/* --------------------------------------------------- Home Page */

#hero-container {
    background: #FFF url('/media/cactus-hero-image.jpg') center center / cover no-repeat;
    height: 600px;
}

#cover-text-outer {
    background-color: rgba(0, 133, 93, 0.5);  
}

#hero-container h1,
#hero-container h2 {
    color: #FFF;
}

h1 {
    font-family: 'Oregano', cursive;
    font-weight: 400;
}

h2 {
    color: #E4117A;
    font-size: calc(1rem + .9vw);
}

#hero-container h2 {
    font-size: calc(1.1rem + .9vw);;
} 

/* Idea and code for the images inside circle containers adapted from the 
Code Institute 'Love Running' project */
.circle-container {
    border-radius: 50%; 
    height: 200px; 
    padding: 15px; 
    width: 200px;
}

.right-photo-desktop {
    margin: 0 auto;
}

#left-photo-desktop {
    margin: 0 auto;
}

.green-background {
    background-color: #9BDEAC;
}

.circle-container-image {
    height: 100%; 
    border-radius: 50%;  
}

.green-border {
    border: 5px solid #00855D;
}

#ethical-philosophy-image {
    background: url('/media/round-cactus-leaves.jpg') center center / cover no-repeat;
}

h3 {
    font-size: calc(1.1rem + .6vw);
}

.home-page-information {
    font-size: 0.9em;
}

.pink-background {
    background-color: #E199AE;
}

.pink-border {
    border: 5px solid #E4117A;
}

#affordable-style-image {
    background: url('/media/pink-cactus-in-pot.jpg') center center / cover no-repeat;
}

#cactus-leather-made-image {
    background: url('/media/leather-rolls.jpg') center center / cover no-repeat;
}

a {
    color: #1F2551;
}

.home-page-information-container {
    width: 90%;
}

.left-text-desktop,
#right-text-desktop {
   text-align: center; 
}

/* --------------------------------------------------- Media Queries */

/* for small screen sizes of 500px and up */
@media screen and (min-width:500px) {

    .search-bar-container {
        width: 70%;
    }

    .home-page-information-container {
        width: 70%;
    }
}

/* for small screen sizes of 625px and up */
@media screen and (min-width:625px) {

    .search-bar-container {
        width: 60%;
    }
}

/* for small screen sizes of 576px and up */
@media screen and (min-width:576px) {

    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
    }

    .nav-link {
         padding: 0.5rem 1rem;
    }
   
    .nav-link i.fa-lg {
        font-size: 1.25em;
    }
}

/* for medium screen sizes of 768px and up */
@media screen and (min-width:768px) {

    .search-bar-container {
        width: 50%;
    }   
}

/* for large screen sizes of 992px and up */
@media screen and (min-width:992px) {

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 192px;
    }
    
    .cactus-logo-link {
        height: 100px;
        width: 100px;
    }

    .search-bar-container {
        width: 100%;
    }

    .navbar-nav li {
        margin: 0 1.5em;
    }

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    .banner h4 {
        font-size: 1.5rem;
    }

    #hero-container {
        padding: 0;
    }

    #cover-text-outer {
        background-color: transparent;
    }

    #cover-text-inner {
        background-color: rgba(0, 133, 93, 0.5);  
        border-radius: .25rem;
        padding: 2em;
        width: 75%;
    }

    .left-text-desktop {
        text-align: left; 
    }

    #right-text-desktop {
        text-align: right;
    }

    .circle-container {
        height: 250px; 
        width: 250px;
    }

    .right-photo-desktop {
        margin-left: 0;
    }

    #left-photo-desktop {
        margin-right: 0;
    }
}

/* for extra large screen sizes of 1200px and up */
@media screen and (min-width:1200px) {
    body {
        font-size: 18px;
    }

    .cactus-logo-link {
        height: 130px;
        width: 130px;
    }

    .nav-link {
        padding: 0.5rem 1.5rem;
   }

   .header-container {
        padding-top: 225px;
    }

    h2 {
        font-size: 1.5rem;
    }
}

/* for extra extra large screen sizes of 1400px and up */
@media screen and (min-width:1400px) {

    body {
        font-size: 20px;
    }

    .nav-link {
        padding: 0.5rem 2.5rem;
   }

   .dropdown-item, 
   .form-control {
       font-size: 1.2rem;
   }

   .header-container {
        padding-top: 228px;
    }

    .circle-container {
        height: 300px; 
        width: 300px;
    }
}

/* for extra extra large screen sizes of 1700px and up */
@media screen and (min-width:1700px) {
    
    .search-bar-container {
        width: 80%;
    }

    .circle-container {
        height: 400px; 
        padding: 25px; 
        width: 400px;
    }

    .title-logo-link {
        font-size: 3.5em;
    }
}

/* for extra extra extra large screen sizes of 2500px and up */
@media screen and (min-width:2500px) {

    body {
        font-size: 24px;
    }

    .cactus-logo-link {
        height: 180px;
        width: 180px;
    }

    .nav-link {
        padding: 0.5rem 3.5rem;
   }

   .dropdown-item, 
   .form-control {
       font-size: 1.5rem;
   }

   .header-container {
        padding-top: 284px;
    }

    .circle-container {
        height: 500px; 
        width: 500px;
    }
}
