body {
    background-color: #FFF;
    color: #00855D;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* --------------------------------------------------- Main Site Navigation */

.navbar-light .navbar-toggler {
    border-color: #00855D;
    color: #6DBAA1;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 133, 93, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* --------------------------------------------------- Top Header */

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

/* Cactus logo and store title logo */

#cactus-logo-link {
    height: 30px;
    width: 30px;
}

#title-logo-link {
    color: #E4117A;
    font-family: 'Montez', cursive;
    font-weight: 400;
}

/* Search form */

.form-control {
    border: 2px solid #00855D;
}

.search-button {
    background-color: #00855D;
}

.search-button i {
    color: #FFF;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.fa-magnifying-glass {
    color: #00855D;
}

.form-control,
.form-control:focus,
.form-control::placeholder {
    color: #00855D;
}

.nav-link-container {
    color: #00855D;
}

.nav-link {
    padding: 0.15rem;
}

.nav-link i.fa-lg {
    font-size: 1rem;
}

/* Account dropdown menu */

.dropdown-item {
    color: #00855D;
    padding-left: 0;
}

/* 
code for making the pink shopping bag icon within a navigation dropdown item visible only when 
hovering over or focussing on that item adapted from an answer given by Curtis
on this Stack Overflow post - 
https://stackoverflow.com/questions/9617641/css-link-to-an-icon-visible-on-hover
*/
.dropdown-item span {
    visibility: hidden;
}

.dropdown-item span {
    color: #E4117A;
}

.dropdown-item:focus span, 
.dropdown-item:hover span {
    visibility: visible;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #FFF;
    color: #E4117A;
}

/* Shopping basket link */

.basket-link-no-items {
    color: #00855D;
}

.basket-link-items {
    color: #E4117A;
    font-weight: 500;
}

.basket-link:hover,
.basket-link:focus {
    color: #6C6EC4;
}

/* --------------------------------------------------- Media Queries */

/* for large screen sizes of 992px and up */
@media screen and (min-width:992px) {

    #cactus-logo-link {
        height: 100px;
        width: 100px;
    }

    #title-logo-link {
        font-size: 2.5em;
    }

    .header-container {
        scroll-padding-top: 116px;
    }
}
