<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item d-block d-md-none">
            <a class="nav-link" href="{% url 'home' %}" id="home-link">
                Home
                <span><i class="fa-solid fa-bag-shopping ps-1 ps-lg-2"></i></span>
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="all-bags-link" data-bs-toggle="dropdown" aria-expanded="false">
                All Bags
                <span><i class="fa-solid fa-bag-shopping ps-1 ps-lg-2"></i></span>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-bags-link">
                <a href="{% url 'bags' %}?sort=price&direction=asc" class="dropdown-item">
                    By Price
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
                <a href="{% url 'bags' %}?sort=overall_rating&direction=desc" class="dropdown-item ">
                    By Rating
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
                <a href="{% url 'bags' %}?sort=category&direction=asc" class="dropdown-item ">
                    By Style
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
                <a href="{% url 'bags'%}?sort=size&direction=asc" class="dropdown-item ">
                    By Size
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
                <a href="{% url 'bags' %}?sort=colour&direction=asc" class="dropdown-item ">
                    By Colour
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
                <a href="{% url 'bags' %}" class="dropdown-item">
                    All Bags
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="styles-link" data-bs-toggle="dropdown" aria-expanded="false">
                Styles
                <span><i class="fa-solid fa-bag-shopping ps-1 ps-lg-2"></i></span>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="styles-link">
                <a href="{% url 'bags' %}?category=handbags" class="dropdown-item">
                    Handbags
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
                <a href="{% url 'bags' %}?category=tote_bags" class="dropdown-item ">
                    Tote Bags
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
                <a href="{% url 'bags' %}?category=crossbody_bags" class="dropdown-item ">
                    Crossbody Bags
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
                <a href="{% url 'bags' %}?category=backpacks" class="dropdown-item ">
                    Backpacks
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
                <a href="{% url 'bags' %}?category=bucket_bags" class="dropdown-item ">
                    Bucket Bags
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
                <a href="{% url 'bags' %}?category=clutch_bags" class="dropdown-item ">
                    Clutch Bags
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
                <a href="{% url 'bags' %}?category=pouches" class="dropdown-item ">
                    Pouches
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
                <a href="{% url 'bags' %}?category=laptop_bags" class="dropdown-item ">
                    Laptop Bags
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
                <a href="{% url 'bags' %}?category=holdalls" class="dropdown-item ">
                    Holdalls
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
                <a href="{% url 'bags' %}?category=handbags,tote_bags,crossbody_bags,backpacks,bucket_bags,clutch_bags,pouches,laptop_bags,holdalls"
                    class="dropdown-item">
                    All Styles
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="special-offers-link" data-bs-toggle="dropdown" aria-expanded="false">
                Special Offers
                <span><i class="fa-solid fa-bag-shopping ps-1 ps-lg-2"></i></span>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="special-offers-link">
                <a href="{% url 'bags'%}?sale" class="dropdown-item">
                    Sale
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
                <a href="{% url 'bags'%}?free_charm" class="dropdown-item ">
                    Free Charm
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
                <a href="{% url 'bags'%}?all_special_offers" class="dropdown-item ">
                    All Special Offers
                    <span>
                        <i class="fa-solid fa-tag ps-1 ps-lg-2"></i>
                    </span>
                </a>
            </div>
        </li>

    </ul>
</div>