<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item d-block d-md-none">
            <a class="nav-link" href="{% url 'home' %}" id="home-link">
                Home
                <span><i class="fa-solid fa-bag-shopping ps-1"></i></span>
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="all-bags-link" data-bs-toggle="dropdown" aria-expanded="false">
                All Bags
                <span><i class="fa-solid fa-bag-shopping ps-1"></i></span>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-bags-link">
                <a href="#" class="dropdown-item">
                    By Price
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
                <a href="#" class="dropdown-item ">
                    By Rating
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
                <a href="#" class="dropdown-item ">
                    By Style
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
                <a href="#" class="dropdown-item ">
                    By Size
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
                <a href="#" class="dropdown-item ">
                    By Colour
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
                <a href="#" class="dropdown-item">
                    All Bags
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="styles-link" data-bs-toggle="dropdown" aria-expanded="false">
                Styles
                <span><i class="fa-solid fa-bag-shopping ps-1"></i></span>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="styles-link">
                <a href="#" class="dropdown-item">
                    Handbags
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
                <a href="#" class="dropdown-item ">
                    Tote Bags
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
                <a href="#" class="dropdown-item ">
                    Crossbody Bags
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
                <a href="#" class="dropdown-item ">
                    Backpacks
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
                <a href="#" class="dropdown-item ">
                    Bucket Bags
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
                <a href="#" class="dropdown-item ">
                    Clutch Bags
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
                <a href="#" class="dropdown-item ">
                    Pouches
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
                <a href="#" class="dropdown-item ">
                    Laptop Bags
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
                <a href="#" class="dropdown-item ">
                    Holdalls
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
                <a href="#" class="dropdown-item">
                    All Styles
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="special-offers-link" data-bs-toggle="dropdown" aria-expanded="false">
                Special Offers
                <span><i class="fa-solid fa-bag-shopping ps-1"></i></span>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="special-offers-link">
                <a href="#" class="dropdown-item">
                    Sale
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
                <a href="#" class="dropdown-item ">
                    Free Charm
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
                <a href="#" class="dropdown-item ">
                    All Special Offers
                    <span>
                        <i class="fa-solid fa-tag ps-1"></i>
                    </span>
                </a>
            </div>
        </li>

    </ul>
</div>