{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Saguaro Bags {% block extra_title %}{% endblock %}</title>

    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Saguaro Bags' website for purchasing sustainable, vegan, cactus leather bags.">
    <meta name="keywords" 
        content="cactus leather bag, cactus leather handbags, vegan leather bags, vegan designer bags, affordable vegan handbags uk,
            vegan leather bags cactus, desserto cactus leather, desserto leather, sustainable leather bags">
    <meta name="author" content="Lianne Hartley">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Favicon -->
    <!-- 
        Code for adding a favicon to a Django project taken from an answer given by hanleyhansen and edited 
        by FlipperPA on this Stack Overflow post -
        https://stackoverflow.com/questions/21938028/how-can-i-get-a-favicon-to-show-up-in-my-django-app
    -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}"/>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montez&family=Oregano&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Mailchimp CSS -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
</head>

<body>
    <div id="outermost-container" class="max-page-width">
        <header class="container-fluid fixed-top-desktop-only max-page-width bg-white">
            <!-- Top header containing the store logo and title, search bar, 'My Account' dropdown and shopping basket on desktop screens -->
            <div class="row d-none d-lg-flex">
                <!-- Store logo and title -->
                <div class="col-12 col-lg-4">
                    <a href="{% url 'home' %}" class="d-flex align-items-center py-2 text-decoration-none nav-link">
                        <img src="{{ MEDIA_URL }}cactus-logo.svg" alt="saguaro bags logo of a green cactus" class="cactus-logo-link">
                        <h2 class="title-logo-link">Saguaro Bags</h2>
                    </a>
                </div>
                <!-- Search bar -->
                <div class="col-12 col-lg-4 my-auto d-flex justify-content-center">
                    <form method="GET" action="{% url 'bags' %}" class="w-100">
                        <div class="input-group mx-auto search-bar-container">
                            <input type="text" name="q" placeholder="Search" class="form-control" aria-label="Search the site" aria-describedby="submit-search-button-desktop">
                            <button type="submit" class="btn form-appended-button" id="submit-search-button-desktop">
                                <span class="icon">
                                    <i class="fa-solid fa-magnifying-glass"></i> 
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-4 my-auto">
                    <ul class="list-inline list-unstyled text-center my-0">
                        <!-- 'My Account' dropdown -->
                        <li class="list-inline-item dropdown">
                            <a href="#" id="account-options-desktop" data-bs-toggle="dropdown"
                                aria-expanded="false" class="nav-link">
                                <div class="text-center nav-link-container">
                                    <div>
                                        {% if request.user.is_authenticated %}
                                        <i class="fa-solid fa-user-check fa-lg"></i>
                                        {% else %}
                                        <i class="fa-solid fa-user fa-lg"></i>
                                        {% endif %}
                                    </div>
                                    {% if request.user.is_authenticated %}
                                    <p class="my-0">{{ user.username|truncatechars:15 }}</p>
                                    {% else %}
                                    <p class="my-0">My Account</p>
                                    {% endif %}
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="account-options-desktop">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="{% url 'add_bag' %}" class="dropdown-item">
                                    Bag Management
                                    <span><i class="fa-solid fa-bag-shopping ps-1 ps-lg-2"></i></span>
                                </a>
                                <a href="{% url 'admin:index' %}" class="dropdown-item">
                                    Admin Panel
                                    <span><i class="fa-solid fa-bag-shopping ps-1 ps-lg-2"></i></span>
                                </a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">
                                    My Profile
                                    <span><i class="fa-solid fa-bag-shopping ps-1 ps-lg-2"></i></span>
                                </a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">
                                    Logout
                                    <span><i class="fa-solid fa-bag-shopping ps-1 ps-lg-2"></i></span>
                                </a>
                                {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">
                                    Register
                                    <span><i class="fa-solid fa-bag-shopping ps-1 ps-lg-2"></i></span>
                                </a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">
                                    Login
                                    <span><i class="fa-solid fa-bag-shopping ps-1 ps-lg-2"></i></span>
                                </a>
                                {% endif %}
                            </div>
                        </li>
                        <!-- Shopping basket -->
                        <li class="list-inline-item">
                            <a href="{% url 'view_basket' %}" aria-label="Go to the shopping basket page (does not open in a new tab)"
                                class="{% if grand_total %}basket-link-items{% else %}basket-link-no-items{% endif %} nav-link basket-link">
                                <div class="text-center">
                                    <i class="checkout-logo fa-solid fa-basket-shopping fa-lg"></i>
                                    <p class="my-0">
                                        {% if grand_total %}
                                        £{{ grand_total|floatformat:2 }}
                                        {% else %}
                                        £0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 
                Main navbar containing main site navigation only on desktop screens and
                main site navigation dropdown, searchbar dropdown, 'My Account' dropdown and shopping basket on small mobile screens with
                the addition of the store title on medium screens.
            -->
            <div class="row gx-0">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid px-sm-3 py-sm-2 py-lg-0">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        {% include 'includes/mobile_top_header.html' %}
                        {% include 'includes/main_nav.html' %}
                    </div>
                </nav>
            </div>
            <!-- Delivery banner-->
            <div class="row text-center banner">
                <div class="col">
                    <h4 class="my-1">Free delivery on orders over £{{ free_delivery_threshold }}!</h4>
                </div>
            </div>
        </header>
        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            {% with message.level as level %}
            {% if level == 40 %}
            {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
            {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
            {% include 'includes/toasts/toast_success.html' %}
            {% else %}
            {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
            {% endwith %}
            {% endfor %}
        </div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}
        <footer class="mt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex justify-content-center col-md-6">
                        <!-- Begin Mailchimp Signup Form -->
                        <div id="mc_embed_signup" class="mb-md-3 mb-xxl-5">
                            <form action="https://herokuapp.us18.list-manage.com/subscribe/post?u=6a039fe59ecfd139022e1b9de&amp;id=8376ef2b87" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                <h4 class="mt-3 mt-lg-4 mt-xl-5">Subscribe</h4>
                                <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                            </label>
                                <input type="email" value="" name="EMAIL" class="required email my-2" id="mce-EMAIL">
                            </div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6a039fe59ecfd139022e1b9de_8376ef2b87" tabindex="-1" value=""></div>
                                    <div class="optionalParent">
                                        <div class="clear foot">
                                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                            <p class="brandingLogo">
                                                <a href="http://eepurl.com/h3fyqn" title="Mailchimp - email marketing made easy and fun"
                                                    target="_blank" rel="noopener" aria-label="Visit Mailchimp's homepage (opens in a new tab)">
                                                    <img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"
                                                        alt="black and white mailchimp logo of a monkey wearing a hat">
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End mc_embed_signup-->
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0 d-md-flex justify-content-center align-items-center">
                        <!-- footer structure adapted from Code Institute Love Running project -->
                        <ul class="d-flex flex-row mx-auto flex-md-column flex-xl-row">
                            <!-- Facebook Page link -->
                            <li class="footer-link d-flex justify-content-center align-items-center justify-content-md-start justify-content-xl-center">
                                <a href="https://www.facebook.com/Saguaro-Bags-107967631934580/?ref=pages_you_manage" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)"
                                    class="link text-center mb-md-5 mb-xl-0">
                                    <i class="fa-brands fa-facebook fa-xl text-pink"></i>
                                    <p class="mb-0 mt-1 d-md-inline ms-md-2 d-xl-block ms-xl-0 mt-xl-4">Facebook Page</p>
                                </a>
                            </li>
                            <!-- Privacy policy page link -->
                            <li class="footer-link d-flex justify-content-center align-items-center justify-content-md-start justify-content-xl-center">
                                <a href="{% url 'privacy_policy' %}" aria-label="Go to our privacy policy page (does not open in a new tab)"
                                    class="link text-center mb-md-5 mb-xl-0">
                                    <i class="fa-solid fa-lock fa-xl text-pink"></i>
                                    <p class="mb-0 mt-1 d-md-inline ms-md-2 d-xl-block ms-xl-0 mt-xl-4">Privacy Policy</p>
                                </a>
                            </li>
                            <!-- Vegan charity link -->
                            <li class="footer-link d-flex justify-content-center align-items-center justify-content-md-start justify-content-xl-center">
                                <a href="https://viva.org.uk/" target="_blank" aria-label="Visit Viva vegan charity's homepage (opens in a new tab)"
                                    class="link text-center">
                                    <i class="fa-solid fa-heart fa-xl text-pink"></i>
                                    <p class="mb-0 mt-1 d-md-inline ms-md-2 d-xl-block ms-xl-0 mt-xl-4">Vegan Charity</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    {% block postloadjs %}
    <script src="{% static 'js/base.js' %}"></script>
    <script>
        // Initialising Bootstrap toasts code taken from Boostrap
        let toastElList = [].slice.call($('.toast'))
        let toastList = toastElList.map(function(toastEl) {
            return new bootstrap.Toast(toastEl)
        })
        toastList.forEach(toast => toast.show())
    </script>
    <script>
        /*
        Code for utilising media queries in JavaScript taken from this CSS Tricks article
        entitled 'Working with JavaScript Media Queries' by Marko Ilic dated 7 September 2020
        (and updated on 12 May 2021) -
        https://css-tricks.com/working-with-javascript-media-queries/
        */
        // Condition that targets viewports between 768 and 991px wide (medium screens)
        let mediumScreen = window.matchMedia('(min-width: 768px) and (max-width: 991px)');
        // Add an event listener to check if the medium screen condition changes
        mediumScreen.addEventListener("change", addTitleLogoMediumScreens);
        /* 
        Initial check to check whether the mediumScreen condition is true and so 
        whether the addTitleLogoMediumScreens function if statement should be run
        to add the 'Saguaro Bags' navbar title logo.
        */
        addTitleLogoMediumScreens(mediumScreen);

        /**
         * The function called when the DOM first loads to check whether the viewport is between
         * 768px and 991px wide (medium screen). If so, the if condition is run which adds the 
         * 'Saguaro Bags' title logo to the navbar. If not, the evaluateTitleLogoRemoval function is run.
         * This function is also called if the viewport changes from being a medium screen size to not 
         * being a medium screen size and vice versa. 
         */
        function addTitleLogoMediumScreens(e) {
            if (e.matches) {
                $('.navbar-toggler').after(`
                <ul id="mobile-medium-screen-title-link">
                    <li class="list-inline-item">
                        <a href="{% url 'home' %}" class="nav-link">
                            <h2 class="title-logo-link pt-1">Saguaro Bags</h2>
                        </a>
                    </li>
                </ul>`);
            } else {
                evaluateTitleLogoRemoval();
            }
        }

        /**
         * The function called by the addTitleLogoMediumScreens function if the current viewport
         * is not between 768px and 991px wide. This function checks whether there are two elements
         * with a class of 'title-logo-link'. 
         * If there are, this means that the title logo in the top header (which is always there but only 
         * displays on large screens) and the navbar title logo added by the addTitleLogoMediumScreens function
         * are both present in the DOM. As the screen viewport is no longer a medium screen, the navbar title 
         * logo should be removed and the removeTitleLogo function is called. 
         * If only one element is present with the class of 'title-logo-link' this means that only the top header
         * title logo is present and the navbar title logo has not been added by the addTitleLogoMediumScreens function
         * so there is no navbar title to be removed. 
         */
        function evaluateTitleLogoRemoval() {
            if ($('.title-logo-link').length === 2) {
                removeTitleLogo();
            };
        }

        /**
         * The function called by the evaluateTitleLogoRemoval function if the current viewport is not
         * between 768px and 991px wide and the navbar title logo has been added by the addTitleLogoMediumScreens
         * function and so needs to be removed.
         */
        function removeTitleLogo() {
            $('.navbar-toggler').next().remove();
        }
    </script>
    <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script>
        (function($) {
            window.fnames = new Array(); 
            window.ftypes = new Array();
            fnames[0]='EMAIL';
            ftypes[0]='email';
            fnames[1]='FNAME';
            ftypes[1]='text';
            fnames[2]='LNAME';
            ftypes[2]='text';
            fnames[3]='ADDRESS';
            ftypes[3]='address';
            fnames[4]='PHONE';
            ftypes[4]='phone';
            fnames[5]='BIRTHDAY';
            ftypes[5]='birthday';}
            (jQuery)
        );
        var $mcj = jQuery.noConflict(true);
    </script>
    {% endblock %}
    <noscript>
        Your browser does not support JavaScript!
    </noscript>
</body>

</html>