/* fixes bug where top and bottom right corners of quantity
incrementer (+) button are not rounded on shopping basket page */
#shopping-basket-desktop .increment-qty, 
#shopping-basket-mobile .increment-qty {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

#shopping-basket-desktop .item-quantity {
    width: 20%;
}

#shopping-basket-mobile .item-quantity {
    width: 80%;
}

/* --------------------------------------------------- Media Queries */

/* for extra small screen sizes of 320px to 450px */
@media (min-width: 320px) and (max-width: 450px) {

    .bag-list-basket img{
        height: 50vw;
    }
}

/* for small screen sizes of 450px and up */
@media (min-width: 450px) {

    #shopping-basket-mobile .item-quantity {
        width: 60%;
    }
}

/* for small screen sizes of 451px to 599px */
@media (min-width: 451px) and (max-width: 599px) {

    .bag-list-basket img{
        height: 40vw;
    }
}

/* for small screen sizes of 600px to 649px */
@media (min-width: 600px) and (max-width: 649px) {

    .bag-list-basket img{
        height: 35vw;
    }
}

/* for small screen sizes of 650px to 767px */
@media (min-width: 650px) and (max-width: 767px) {

    .bag-list-basket img{
        height: 30vw;
    }
}