{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<!-- Blank header needed to apply top padding where there is a fixed header on desktop screens -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Page heading column -->
        <div class="col text-center mt-3">
            <h1>The Details</h1>
            <hr class="w-50 mx-auto mb-3">
            <div class="row bag-detail-row mt-xl-4 mt-xxl-5">
                <!-- Bag image column -->
                <div class="col-md-6 col-lg-4 offset-lg-2 d-flex align-items-center">
                    <div class="my-3">
                        <!-- Bag image displayed or the default no image icon if there is no bag image -->
                        {% if bag.image %}
                        <a href="{{ bag.image.url }}" target="_blank" aria-label="View {{ bag.name}} bag image in a new tab">
                            <img src="{{ bag.image.url }}" alt="{{ bag.name }} - {{ bag.image_description }}" class="card-img-top img-fluid">
                        </a>
                        {% else %}
                        <a href="">
                            <img src="{{ MEDIA_URL }}no-image.png" alt="{{ bag.name }} - {{ bag.image_description }}" class="card-img-top img-fluid">
                        </a>
                        {% endif %}
                    </div>
                </div>
                <!-- Bag information column -->
                <div class="col-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">
                    <div>
                        <!-- Bag name -->
                        <h2 class="card-title">{{ bag.name }}</h2>
                        <!-- Bag price -->
                        {% if bag.on_sale and bag.discount != None %}
                        <p class="lead {% if request.user.is_superuser %}mb-0{% endif %}"><del>£{{ bag.original_price }}</del> £{{ bag.get_discounted_price }}</p>
                        {% else %}
                        <p class="lead {% if request.user.is_superuser %}mb-0{% endif %}">£{{ bag.original_price }}</p>
                        {% endif %}
                        <!-- Admin links to edit and delete bags -->
                        {% if request.user.is_superuser %}
                        <small class="d-block mb-3">
                            <a href="{% url 'edit_bag' bag.id %}" class="link">Edit</a> | 
                            <a href="#" class="link">Delete</a>
                        </small>
                        {% endif %}
                        <!-- Bag SKU -->
                        <div class="d-inline-block bag-detail-icon-container text-end">
                            <i class="fa-solid fa-hashtag fa-sm me-1"></i>
                        </div>
                        <div class="d-inline-block bag-detail-information-container text-start">
                            <small >{{ bag.sku }}</small> 
                        </div>
                        <!-- Bag category, if the bag has one -->
                        {% if bag.category %}
                        <div class="d-inline-block bag-detail-icon-container text-end">
                            <i class="fa-solid fa-folder fa-sm me-1"></i>
                        </div>
                        <div class="d-inline-block bag-detail-information-container text-start">
                            <small >{{ bag.category.friendly_name }}</small> 
                        </div>
                        {% endif %}
                        <!-- Bag size, if the bag has one -->
                        {% if bag.size %}
                        <div class="d-inline-block bag-detail-icon-container text-end">
                            <i class="fa-solid fa-tape fa-sm me-1"></i>
                        </div>
                        <div class="d-inline-block bag-detail-information-container text-start">
                            <small >{{ bag.size }}</small> 
                        </div>
                        {% endif %}
                        <!-- Bag colour, if the bag has one -->
                        {% if bag.colour %}
                        <div class="d-inline-block bag-detail-icon-container text-end">
                            <i class="fa-solid fa-palette fa-sm me-1"></i>
                        </div>
                        <div class="d-inline-block bag-detail-information-container text-start">
                            <small >{{ bag.colour }}</small> 
                        </div>
                        {% endif %}
                        <!-- Bag rating if the bag has one, or else 'No rating yet'-->
                        {% if bag.overall_rating != 0.0 %}
                        <div class="d-inline-block text-center">
                            {% for i in whole_stars %}
                            <i class="fa-solid fa-star"></i>
                            {% endfor %}
                            {% for i in half_stars %}
                            <i class="fa-regular fa-star-half-stroke"></i>
                            {% endfor %}
                            {% for i in empty_stars %}
                            <i class="fa-regular fa-star"></i>
                            {% endfor %}
                        </div>
                        <div class="d-inline-block text-center ms-2">
                            <small>{{ bag.overall_rating }} / 5</small> 
                        </div>
                        {% else %}
                        <div class="d-inline-block bag-detail-icon-container text-end">
                            <i class="fa-solid fa-star fa-sm me-1"></i>
                        </div>
                        <div class="d-inline-block bag-detail-information-container text-start">
                            <small>No rating yet</small> 
                        </div>
                        {% endif %}
                        <!-- Form containing bag quantity input, 'Keep Shopping' button and 'Add to Basket' buttons -->
                        <form action="{% url 'add_to_basket' bag.id %}" method="POST">
                            {% csrf_token %}
                            <!-- Free charm options -->
                            {% with bag.has_charm_option as c %}
                            {% if c %}
                            <div class="my-3">
                                <p class="bag-detail-label">Free Charm:</p>
                                {% for charm in charms %}
                                <div class="d-inline-block">
                                    <img src="{{ charm.image.url }}" alt="{{ charm.image_description }}" class="charm-image d-block">
                                    <input type="radio" id="charm_id_{{ charm.id }}" name="charm_option" value="{{ charm.id }}" class="d-block mx-auto my-2">
                                    <label for="charm_id_{{ charm.id }}" class="d-block"><small>{{ charm.name }}</small></label>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <!-- Bag quantity -->
                            <p class="mt-3 mb-2 bag-detail-label">Quantity:</p>
                            <div class="input-group input-group-{{ bag.id }} mx-auto bag-quantity-container">
                                <!-- Quantity decrementer button -->
                                <button class="btn form-appended-button decrement-qty decrement-qty_{{ bag.id }}" data-item_id="{{ bag.id }}" type="button">
                                    <span class="icon">
                                        <i class="fa-solid fa-minus"></i>
                                    </span>
                                </button>
                                <!-- Quantity input -->
                                <input type="number" class="form-control qty_input id_qty_{{ bag.id }}" aria-label="Bag quantity with add and minus buttons"
                                    name="quantity" value="1" min="1" max="99" data-item_id="{{ bag.id }}" required>
                                <!-- Quantity incrementer button -->
                                <button class="btn form-appended-button increment-qty increment-qty_{{ bag.id }}" data-item_id="{{ bag.id }}" type="button">
                                    <span class="icon">
                                        <i class="fa-solid fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                            <div>
                                <!-- Keep Shopping button -->
                                <a href="{% url 'bags' %}" class="btn btn-sm rounded-1 text-uppercase py-2 mt-4 page-nav-button">
                                    <span class="icon">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <!-- Add to Basket button -->
                                <input type="submit" class="btn btn-sm rounded-1 text-uppercase mt-4 input-submit-button" value="Add to Basket">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}