{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<!-- Blank header needed to apply top padding where there is a fixed header on desktop screens -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid max-page-width">
    <div class="row">
        <div class="col text-center mt-3">
            <!-- Page heading -->
            <h1>Bags</h1>
            <hr class="w-50 mx-auto mb-3 mb-md-4 mb-xl-5">
            <div class="row bag-list-row">
                <!-- Creates a card of information for each bag for sale -->
                {% for bag in bags %}
                <div class="col-md-6 col-xl-4 col-xxl-4">
                    <div class="card h-100 border-0 bag-list-card">
                        <!-- Bag image displayed or the default no image icon if there is no bag image -->
                        {% if bag.image %}
                        <a href="{% url 'bag_detail' bag.id %}">
                            <img src="{{ bag.image.url }}" alt="{{ bag.name }} - {{ bag.image_description }}" class="card-img-top img-fluid">
                        </a>
                        {% else %}
                        <a href="{% url 'bag_detail' bag.id %}">
                            <img src="{{ MEDIA_URL }}no-image.png" alt="{{ bag.name }} - {{ bag.image_description }}" class="card-img-top img-fluid">
                        </a>
                        {% endif %}
                        <!-- Bag name -->
                        <div class="card-body pb-0">
                            <h2 class="card-title">{{ bag.name }}</h2>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 ">
                            <div class="row">
                                <div class="col">
                                    <!-- Bag price -->
                                    {% if bag.on_sale and bag.discount != None %}
                                    <p class="lead mb-0"><del>£{{ bag.original_price }}</del> £{{ bag.get_discounted_price }}</p>
                                    {% else %}
                                    <p class="lead mb-0">£{{ bag.original_price }}</p>
                                    {% endif %}
                                    <!-- Bag category, if the bag has one -->
                                    {% if bag.category %}
                                    <small class="d-block"><i class="fa-solid fa-folder me-1"></i>{{ bag.category.friendly_name }}</small>
                                    {% endif %}
                                    <!-- Bag rating if the bag has one, or else 'No rating yet'-->
                                    {% if bag.overall_rating != 0.0 %}
                                    <small><i class="fa-solid fa-star me-1"></i>{{ bag.overall_rating }} / 5</small>
                                    {% else %}
                                    <small><i class="fa-solid fa-star me-1"></i>No rating yet</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>                  
                </div>
                <!-- Adds a horizontal rule under each row of bags depending on the number of columns in a row -->
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-md-none">
                    <hr>
                </div>
                {% endif %}                        
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-md-block d-xl-none mb-3">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}  
            </div>
        </div>
    </div>
</div>
<div class="btt-button shadow sm rounded-2">
    <a class="btt-link d-flex h-100 text-decoration-none">
        <i class="fa-solid fa-angle-up mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            let selector = $(this);
            let currentUrl = new URL(window.location);

            let selectedVal = selector.val();
            if(selectedVal != "reset"){
                let sort = selectedVal.split("_")[0];
                let direction = selectedVal.split("_")[1];
                
                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}
