{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<!-- Blank header needed to apply top padding where there is a fixed header on desktop screens -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <!-- Page heading -->
            <h1>Bags</h1>
            <!-- Badge links for styles/categories -->
            {% for c in current_categories %}
            <a href="{% url 'bags' %}?category={{ c.name }}" aria-label="Go to the {{ c.friendly_name }} page (does not open in a new tab)"
                class="text-decoration-none badge-link">
                <span class="p-2 mt-2 my-xl-3 badge rounded-2">{{ c.friendly_name }}</span>
            </a>
            {% endfor %}
            <!-- Badge link for sale items -->
            {% if sale %}
            <a href="{% url 'bags'%}?sale" aria-label="Go to the sale page (does not open in a new tab)"
                class="text-decoration-none badge-link">
                <span class="p-2 mt-2 my-xl-3 badge rounded-2">Sale</span>
            </a>
            {% endif %}
            <!-- Badge link for bags with a free charm -->
            {% if free_charm %}
            <a href="{% url 'bags'%}?free_charm" aria-label="Go to the bags with a free charm page (does not open in a new tab)"
                class="text-decoration-none badge-link">
                <span class="p-2 mt-2 my-xl-3 badge rounded-2">Free Charm</span>
            </a>
            {% endif %}
            <hr class="w-50 mx-auto mb-3 mb-md-4 mb-xl-0">
            <div class="row my-2 mt-sm-3 mb-sm-1 sort-row mb-md-4 my-xl-4 my-xxl-5">
                <!-- Dropdown sorting options -->
                <div class="col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="w-50">
                        <select id="sort-selector"
                            class="form-select form-select-sm rounded-2 border-{% if current_sorting != 'None_None' %}pink{% else %}green{% endif %}"
                            aria-label="Sorting options">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>
                                Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>
                                Price (low to high)
                            </option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>
                                Price (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                                Rating (low to high)
                            </option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                                Rating (high to low)
                            </option>                            
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Style (A-Z)
                            </option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                                Style (Z-A)
                            </option>
                            <option value="size_asc" {% if current_sorting == 'size_asc' %}selected{% endif %}>
                                Size (S-L)
                            </option>
                            <option value="size_desc" {% if current_sorting == 'size_desc' %}selected{% endif %}>
                                Size (L-S)
                            </option>
                            <option value="colour_asc" {% if current_sorting == 'colour_asc' %}selected{% endif %}>
                                Colour (A-Z)
                            </option>
                            <option value="colour_desc" {% if current_sorting == 'colour_desc' %}selected{% endif %}>
                                Colour (Z-A)
                            </option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>
                                Name (A-Z)
                            </option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>
                                Name (Z-A)
                            </option>
                        </select>
                    </div>
                </div>
                <!-- All bags home page link, number of bags being viewed and search terms -->
                <div class="my-2 my-sm-3 col-md-6 order-md-first d-md-flex align-items-center my-md-0">
                    <small class="text-center text-md-start">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <a href="{% url 'bags' %}" aria-label="Go to the all bags for sale page (does not open in a new tab)"
                            class="link">
                            Bags Home
                        </a> |
                        {% endif %}
                        {% if bags|length == 1%}
                        {{ bags|length }} Bag
                        {% else %}
                        {{ bags|length }} Bags
                        {% endif %}
                        {% if search_term %} found for
                        <span class="bold">"{{ search_term }}"</span>
                        {% endif %}
                    </small>
                </div>
            </div>
            <div class="row bag-list-row">
                <!-- Creates a card of information for each bag for sale -->
                {% for bag in bags %}
                <div class="col-md-6 col-xl-4 col-xxl-4">
                    <div class="card h-100 border-0 bag-list-card">
                        <!-- Bag image displayed or the default no image icon if there is no bag image -->
                        {% if bag.image %}
                        <a href="{% url 'bag_detail' bag.id %}" aria-label="Go to the details page for {{ bag.name }} bag (does not open in a new tab)">
                            <img src="{{ bag.image.url }}" alt="{{ bag.name }} - {{ bag.image_description }}"
                                class="card-img-top img-fluid">
                            <!-- 'Free Charm' banner displayed in the corner of the image if the bag has a free charm -->
                            {% if bag.has_charm_option %}
                            <div class="free-charm-banner banner text-center rounded-2">
                                <p class="mb-0">Free Charm</p>
                            </div>
                            {% endif %}
                        </a>
                        {% else %}
                        <a href="{% url 'bag_detail' bag.id %}" aria-label="Go to the details page for {{ bag.name }} bag (does not open in a new tab)">
                            <img src="{{ MEDIA_URL }}no-image.png" alt="{{ bag.name }} - {{ bag.image_description }}"
                                class="card-img-top img-fluid">
                            <!-- 'Free Charm' banner displayed in the corner of the 'no image' image if the bag has a free charm -->
                            {% if bag.has_charm_option %}
                            <div class="free-charm-banner banner text-center rounded-2">
                                <p class="mb-0">Free Charm</p>
                            </div>
                            {% endif %}
                        </a>
                        {% endif %}
                        <!-- Bag name -->
                        <div class="card-body pb-0">
                            <h2 class="card-title">{{ bag.name }}</h2>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 ">
                            <div class="row">
                                <div class="col">
                                    <!-- Bag price -->
                                    {% if bag.on_sale and bag.discount != None %}
                                    <p class="lead mb-0">
                                        <del>£{{ bag.original_price }}</del>
                                        £{{ bag.get_discounted_price }}
                                    </p>
                                    {% else %}
                                    <p class="lead mb-0">£{{ bag.original_price }}</p>
                                    {% endif %}
                                    <!-- Bag category, if the bag has one -->
                                    {% if bag.category %}
                                    <small class="d-block">
                                        <i class="fa-solid fa-folder me-1"></i>
                                        {{ bag.category.friendly_name }}
                                    </small>
                                    {% endif %}
                                    <!-- Bag size, if the bag has one -->
                                    {% if bag.size %}
                                    <small class="d-block">
                                        <i class="fa-solid fa-tape me-1"></i>
                                        {{ bag.size }}
                                    </small>
                                    {% endif %}
                                    <!-- Bag colour, if the bag has one -->
                                    {% if bag.colour %}
                                    <small class="d-block">
                                        <i class="fa-solid fa-palette me-1"></i>
                                        {{ bag.colour }}
                                    </small>
                                    {% endif %}
                                    <!-- Bag rating if the bag has one, or else 'No rating yet'-->
                                    {% if bag.overall_rating != 0.0 %}
                                    <small><i class="fa-solid fa-star me-1"></i>{{ bag.overall_rating }} / 5</small>
                                    {% else %}
                                    <small><i class="fa-solid fa-star me-1"></i>No rating yet</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Adds a horizontal rule under each row of bags depending on the number of columns in a row -->
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-md-none">
                    <hr>
                </div>
                {% endif %}                        
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-md-block d-xl-none mb-3">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}  
            </div>
        </div>
    </div>
</div>
<!-- Back to top button -->
<div class="btt-button shadow sm rounded-2">
    <a class="btt-link d-flex h-100 text-decoration-none">
        <i class="fa-solid fa-angle-up mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            let selector = $(this);
            let currentUrl = new URL(window.location);

            let selectedVal = selector.val();
            if(selectedVal != "reset") {
                let sort = selectedVal.split("_")[0];
                let direction = selectedVal.split("_")[1];
                
                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}
